<section id="home-section">
    <h2>Home Page</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, cumque sequi! Itaque cum totam in et cupiditate commodi accusantium quod quia autem ipsam. Corrupti quod dolores vero eum natus ducimus!
    </p>
</section>